[flake8]
max-line-length = 88
extend-ignore = 
    E501
    E302
    E301
    E114
    E116
    E117
    E128
    E261
    E303
    E304
    E305
    E402
    E999
    F811
    F821
    W291
    W292
    W293
    E712
    E722
    F541
    F401
    F841
    W391
exclude = 
    .git
    __pycache__
    .venv
    venv
    env
    .env
    *.egg-info
    build
    dist
    alembic
    migrations 